<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/coming-soon.png"
        class="coming-soon"
      >
    </p>
  </div>
</template>

<script >
export default {
  name: 'ComingSoon'
}
</script>
<style lang="scss">
    .coming-soon {
        width: 80%;
    }
</style>
