<template>
    <q-page class="flex-center justify-center">
        <HomeBanner class="home-banner"/>
        <RecipeList class="recipe-list q-pt-lg"/>
    </q-page>
</template>

<script>
    import HomeBanner from "components/HomeBanner";
    import RecipeList from "components/RecipeList";

    export default {
        name: 'PageIndex',
        components: {RecipeList, HomeBanner}
    }
</script>
<style>
</style>
