<template>
    <q-page class="flex-center justify-center">
        {{recipe}}
    </q-page>
</template>

<script>

    import {mapState} from "vuex";

    export default {
        name: 'Recipe',
        computed: {
            ...mapState({

            })
        }
    }
</script>
<style>
</style>
