<template>
    <q-carousel
            dark
            animated
            v-model="slide"
            infinite
            transition-prev="slide-left"
            transition-next="slide-right"
            padding
            thumbnails
            :autoplay="5000"
            height="600px"
    >
        <q-carousel-slide  :name="1" img-src="~assets/banner-1.jpg"/>
        <q-carousel-slide :name="2" img-src="~assets/banner-2.jpg"/>
        <q-carousel-slide class="white-bg" :name="3" img-src="~assets/banner-3.png"/>
        <q-carousel-slide class="white-bg" :name="4" img-src="~assets/banner-4.jpg"/>
    </q-carousel>
</template>

<script>
    export default {
        name: 'HomeBanner',
        data() {
            return {
                slide: 1
            }
        }
    }
</script>
<style lang="scss">
    .q-carousel__slide {
        background-color: #fdfcec;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .white-bg {
        &.q-carousel__slide {
            background-color: white;
        }
    }
</style>
