<template>
    <div>
        <div class="row justify-between wrap">
            <div class="q-pl-lg text-center row justify-sm-center justify-md-start col-grow">
            <span class="text-h3 text-weight-bolder recipe-heading">
                Recipes
            </span>
            </div>
            <div class="row justify-center">
                <q-btn flat class="q-mr-sm" v-if="prepTime || cookingTime || level" label="Reset"
                       @click="resetFilter"/>
                <q-select outlined dense class="prep-filter q-mr-sm" standout v-model="prepTime" :options="prepOption"
                          label="Prep Time" @input="filterPrepTime"/>
                <q-select outlined dense class="cook-filter q-mr-sm" standout v-model="cookingTime"
                          :options="cookingOption"
                          label="Cooking Time"
                          @input="filterCookingTime"
                />
                <q-select outlined dense class="level-filter q-mr-sm" standout v-model="level" :options="levelOption"
                          label="Difficult"
                          @input="filterDifficultyLevel"
                />
            </div>
        </div>
        <div class="row justify-start wrap q-pa-lg q-ma-lg recipe-list-section">
            <q-card class="recipe-card q-ma-lg" flat bordered v-for="recipe of filteredRecipeList" :key="recipe.id">
                <q-img
                        class="recipe-image"
                        :src="recipe.image"
                        basic
                >
                    <div class="absolute-bottom text-h6">
                        {{recipe.title}}
                    </div>
                </q-img>
                <q-card-section horizontal>
                    <q-card-section class="q-pt-xs">
                        <div class="text-overline">Top Rated</div>
                        <div class="recipe-desc text-caption text-grey">
                            {{recipe.description}}
                        </div>
                    </q-card-section>
                </q-card-section>

                <q-separator/>

                <q-card-actions>
                    <q-btn flat color="primary" @click="view(recipe)">
                        View
                    </q-btn>
                    <q-btn flat color="primary" @click="deleteRecipe(recipe.id)">
                        Delete
                    </q-btn>
                </q-card-actions>
            </q-card>
        </div>
        <q-dialog full-height class="current-recipe-dialog" v-model="showCurrentRecipe">
            <q-card class="current-recipe-card" flat bordered>
                <q-card-section horizontal>
                    <q-card-section class="q-pt-xs col-sm-12 col-md-7">
                        <div class="text-h5 q-mt-sm q-mb-xs">{{currentRecipe.title}}</div>
                        <div class="text-caption text-grey">
                            {{currentRecipe.description}}
                        </div>
                        <q-card flat bordered class="q-pa-md q-mt-lg"
                                v-if="currentRecipe.method && currentRecipe.method.length >
                             0">
                            <div class="text-body1 text-weight-bolder text-capitalize">
                                Method
                            </div>
                            <ol>
                                <li v-for="item of currentRecipe.method" :key="item" class="q-pa-sm text-body1">
                                    {{item}}
                                </li>
                            </ol>
                        </q-card>
                    </q-card-section>

                    <q-card-section class="col-md-5 flex flex-start content-start">
                        <q-img
                                class="rounded-borders"
                                :src="currentRecipe.image"
                                contain
                        />
                        <div>
                            <q-card flat bordered class="q-pa-md q-mt-lg">
                                <div class="text-overline">
                                    Prep Time : <span class="text-primary">{{currentRecipe.prepTime}} </span>
                                </div>
                                <div class="text-overline">
                                    Cooking Time :<span class="text-primary"> {{currentRecipe.cookingTime}}</span>
                                </div>
                                <div class="text-overline">
                                    Difficulty : <span class="text-primary">{{currentRecipe.difficultyLevel}}</span>
                                </div>
                            </q-card>
                            <q-card flat bordered class="q-pa-md q-mt-lg"
                                    v-if="currentRecipe.ingredient && currentRecipe.ingredient.length >
                             0">
                                <div class="text-body1 text-weight-bolder text-capitalize">
                                    Ingredients
                                </div>
                                <p v-for="item of currentRecipe.ingredient" :key="item">
                                    {{item}}
                                </p>
                            </q-card>
                        </div>
                    </q-card-section>
                </q-card-section>
            </q-card>
        </q-dialog>
        <q-dialog v-model="confirm" persistent>
            <q-card>
                <q-card-section class="row items-center">
                    <q-avatar icon="delete" color="primary" text-color="white"/>
                    <span class="q-ml-sm">Are you sure you want to delete this recipe.</span>
                </q-card-section>

                <q-card-actions align="right">
                    <q-btn flat label="Cancel" color="primary" v-close-popup/>
                    <q-btn @click="confirmDelete" flat label="Delete" color="primary" v-close-popup/>
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-dialog
                v-model="addDialog"
        >
            <q-card style="width: 700px; max-width: 80vw;">
                <q-card-section>
                    <div class="text-h6">Add Recipe</div>
                </q-card-section>

                <q-card-section class="q-pt-none row q-gutter-sm justify-center">
                    <q-input v-model="nRecipeTitle" label="Title" class="col-5"/>
                    <q-select outlined v-model="nPrepTime" :options="prepOption" label="Prep Time" class="col-5"/>
                    <q-select outlined v-model="nCookingTime" :options="cookingOption" label="Cooking Time"
                              class="col-5"/>
                    <q-select outlined v-model="nLevel" :options="levelOption" label="Difficulty" class="col-5"/>
                    <q-input v-model="nImage" label="Image URL" class="col-10"/>
                    <q-input v-model="nDescription" label="Description" class="col-10"/>
                    <q-input v-model="nMethod" label="Method" class="col-10"/>
                    <q-input v-model="nIngredient" label="Ingredient" class="col-10"/>
                </q-card-section>

                <q-card-actions align="right" class="bg-white text-teal">
                    <q-btn flat label="Cancel" v-close-popup/>
                    <q-btn dense outline label="Add" v-close-popup @click="addRecipeConfirm"/>
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-btn fab icon="add" color="red" @click="addRecipe"/>
        </q-page-sticky>
    </div>

</template>

<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: 'RecipeList',
        data() {
            return {
                nRecipeTitle: null,
                nPrepTime: null,
                addDialog: false,
                confirm: false,
                showCurrentRecipe: false,
                prepTime: null,
                prepOption: [
                    '1 hour', '2 hour', '3 hour', '4 hour', '5 hour', '6 hour'
                ],
                cookingTime: null,
                nCookingTime: null,
                cookingOption: [
                    '1 hour', '2 hour', '3 hour', '4 hour', '5 hour', '6 hour'
                ],
                level: null,
                nLevel: null,
                levelOption: [
                    'Easy', 'Hard', 'Medium'
                ],
                nDescription: null,
                nImage: null,
                nMethod: null,
                nIngredient: null,
                filteredRecipeList: []
            }
        },
        watch: {
            recipeList: {
                immediate: true,
                handler() {
                    this.filteredRecipeList = this.recipeList
                }
            }
        },
        computed: {
            ...mapState({
                currentRecipe: state => state.recipeModule.currentRecipe,
                recipeList: state => state.recipeModule.recipeList,
            })
        },
        methods: {
            view(recipe) {
                this.setCurrentRecipe(recipe)
                this.showCurrentRecipe = true
            },
            deleteRecipe(id) {
                this.currentDeleteId = id
                this.confirm = true
            },
            confirmDelete() {
                this.deleteRecipeAction(this.currentDeleteId)
            },
            addRecipe() {
                this.addDialog = true
            },
            addRecipeConfirm() {
                let recipe = {
                    id: this.recipeList.length+1,
                    title: this.nRecipeTitle,
                    image: this.nImage,
                    description: this.nDescription,
                    ingredient: [
                        this.nIngredient
                    ],
                    method: [
                        this.nMethod
                    ],
                    prepTime: this.nPrepTime,
                    cookingTime: this.nCookingTime,
                    difficultyLevel: this.nLevel
                }
                this.addRecipeAction(recipe)
            },
            filterPrepTime(value) {
                this.cookingTime = null
                this.level = null
                this.filteredRecipeList = this.recipeList.filter((recipe) => {
                    return recipe.prepTime === value
                })
            },
            filterCookingTime(value) {
                this.prepTime = null
                this.level = null
                this.filteredRecipeList = this.recipeList.filter((recipe) => {
                    return recipe.cookingTime === value
                })
            },
            filterDifficultyLevel(value) {
                this.cookingTime = null
                this.prepTime = null
                this.filteredRecipeList = this.recipeList.filter((recipe) => {
                    return recipe.difficultyLevel === value
                })
            },
            resetFilter() {
                this.cookingTime = null
                this.prepTime = null
                this.level = null
                this.filteredRecipeList = this.recipeList
            },
            ...mapActions({
                setCurrentRecipe: "recipeModule/setCurrentRecipe",
                deleteRecipeAction: "recipeModule/deleteRecipe",
                addRecipeAction: "recipeModule/addRecipe",
            })
        }
    }
</script>
<style lang="scss">
    .prep-filter,
    .cook-filter,
    .level-filter {
        width: 200px;
    }

    .recipe-heading {
        color: #646464;
    }

    .recipe-card {
        max-width: 300px;
    }

    .current-recipe-card {
        max-width: 600px;
        width: 600px;
    }

    .recipe-desc {
        height: 50px;
        overflow: auto;
    }

    .current-recipe-dialog {
        max-width: 600px;
        width: 600px;
    }

    .recipe-list-section {
        min-height: 500px;
    }

    .recipe-image {
        background-color: grey;
        min-height: 300px;
    }
</style>
