<template>
    <q-layout view="lHh Lpr lFf">
        <q-header elevated reveal>
            <q-toolbar class="bg-white">
                <q-toolbar-title class="text-center text-black">
                    <q-img src="~assets/logo.png" class="logo"></q-img>
                    <span class="logo-text">Oziva Recipe</span>
                </q-toolbar-title>
            </q-toolbar>
            <q-toolbar class="bg-white">
                <q-toolbar-title class="text-center text-black">
                    <q-btn flat to="/">Home</q-btn>
                    <q-btn label="Browse" flat>
                        <q-menu anchor="bottom left">
                            <q-list style="min-width: 100px">
                                <q-item clickable v-close-popup to="/meal-type">
                                    <q-item-section>Meal Type</q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup to="/dish-type">
                                    <q-item-section>Dish Type</q-item-section>
                                </q-item>
                                <q-separator/>
                                <q-item clickable v-close-popup to="/ingredient">
                                    <q-item-section>Ingredient</q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup to="/cooking-style">
                                    <q-item-section>Cooking Style</q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup to="/diet-and-health">
                                    <q-item-section>Diet & Health
                                    </q-item-section>
                                </q-item>
                                <q-separator/>
                                <q-separator/>
                                <q-item clickable>
                                    <q-item-section>World Cuisine
                                    </q-item-section>
                                    <q-item-section side>
                                        <q-icon name="keyboard_arrow_right"/>
                                    </q-item-section>
                                    <q-menu anchor="top right" self="top left">
                                        <q-list dense>
                                            <q-item clickable>
                                                <q-item-section>Indian</q-item-section>
                                            </q-item>
                                            <q-item clickable>
                                                <q-item-section>Italian</q-item-section>
                                            </q-item>
                                            <q-item clickable>
                                                <q-item-section>Asian</q-item-section>
                                            </q-item>
                                            <q-item clickable>
                                                <q-item-section>Mexican</q-item-section>
                                            </q-item>
                                            <q-item clickable>
                                                <q-item-section>Southern</q-item-section>
                                            </q-item>
                                        </q-list>
                                    </q-menu>
                                </q-item>
                                <q-separator/>
                                <q-item clickable v-close-popup to="/seasonal">
                                    <q-item-section>Seasonal
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup to="/special-collection">
                                    <q-item-section>Special Collections
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-menu>
                    </q-btn>
                    <q-btn flat to="/recipe">Recipe</q-btn>
                    <q-btn flat to="/chef-desk">Chef's Desk</q-btn>
                    <q-btn flat to="/about-us">About Us</q-btn>
                </q-toolbar-title>
            </q-toolbar>
        </q-header>
        <q-page-container>
            <router-view/>
        </q-page-container>
    </q-layout>
</template>

<script>
    export default {
        name: 'MainLayout',

        components: {},

        data() {
            return {
                tab: true
            }
        }
    }
</script>
<style lang="scss">
    .logo {
        width: 100px
    }

    .logo-text {
        font-size: 20px;
        color: $primary-red;
        font-weight: bold;
    }
</style>
